@font-face {
  font-family: appFont;
  src: url(font/Sketch3D.otf);
}

#appname {
	text-align: center;
	font-family: appFont;
	color: red;
}

.result {
	text-align: center;
	padding-top: 20px;
}

#btnClose {
	float: right;
	padding-top: 70px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.computation {
	padding-left: 20px;
}

@media (min-width: 575.98px) { 
	.main-container {
		width: inherit;
		margin: 0 auto;
		padding-top: 200px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.result_container {
		background: #fff;
		width: inherit;
		min-height: 500px;
		margin: 0 auto;
		margin: 500px 100px 100px 100px;
		overflow-y:scroll;
	}

	.bigger_input {
		padding: 10px 12px;
		height: 120px;
		font-size: 50px;
	}

	.bigger_btn {
		height: 120px;
		font-size: 50px;
	}

	.name_label {
		font-size: 30px;
	}

	.app_name_size {
		font-size: 120px;
	}
}

@media (max-width: 767.98px) { 
	.main-container {
		width: 800px;
		margin: 0 auto;
		padding-top: 200px;
		padding-left: 100px;
		padding-right: 100px;
	}

	.result_container {
		background: #fff;
		width: 400px;
		min-height: 200px;
		margin: 0 auto;
		margin-top: 50px;
		overflow-y:scroll;
	}

	.bigger_input {
		padding: 0, 0, 0, 0;
		height: 50px;
		font-size: 25px;
	}

	.bigger_btn {
		height: 50px;
		font-size: 25px;
	}

}

@media (min-width: 991.98px) { 
	.main-container {
		width: 500px;
		margin: 0 auto;
		padding-top: 10px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.result_container {
		background: #fff;
		width: 500px;
		min-height: 300px;
		margin: 0 auto;
		margin-top: 100px;
		overflow-y:scroll;
	}

	.bigger_input {
		padding: 0, 0, 0, 0;
		height: 50px;
		font-size: 25px;
	}

	.bigger_btn {
		height: 50px;
		font-size: 25px;
	}

	.name_label {
		font-size: 20px;
	}

	.app_name_size {
		font-size: 80px;
	}
}

.backdrop_result {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}
